<h1> Data Science Tools and Ecosystems </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* Table of Data science tools
* Some examples of arithmatic expressions

Some of the popular languages that Data Scientists use are:

1. R
2.Pythonm
3SQLm

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
| Weka             |
| Scrapy           |
| Pandas           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

1. 9+5
2. 4-3
3. 9*8
4. 10/2

In [1]:
expression=(3*4)+5
#This a simple arithmetic expression to mutiply then add integers
print("Result",expression)

Result 17

In [4]:
minutes=200
#This will convert 200 minutes to hours by diving by 60
hour=minutes/60
print("Hour:",hour)

Hour: 3.3333333333333335

<h2>Author</h2>
Bhavy Gupta